* {
    box-sizing: border-box;
}

body {
    background-color:blue;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .center {
    background:rgb(3, 30, 120);
    height: 400px;
    width: 600px;
}

a {
   text-decoration: none;
   color: white;
   padding: 10px 10px 10px 10px;
   border: solid 5px black;
   background-color: rgb(3, 30, 120);
   margin-top: 50px;
   margin-left: 50px;
   font-size: 15px;
   font-weight: bold;
   text-transform: uppercase;
   justify-content: center;
   position: absolute;
}